[defaults]
inventory = $HOME/.ansible/hosts
roles_path = $HOME/.ansible/roles/galaxy:$HOME/.ansible/roles
interpreter_python = /usr/bin/python3
remote_user = root
ask-become-pass = True
ask-vault-pass = True

